<div class="row">
    <div class="col-md-12">
        <div class="headline-left margin-bottom-30">
            <h2 class="headline-brd heading-md">Мои <span class="color-green">контакты</span></h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 wow fadeIn animated">
        <img class="img-responsive img-bordered full-width" src="assets/img/dnepr-map.jpg" alt="dneprmap">
    </div>
    <div class="col-md-6">
        <h3 class="wow fadeIn animated">Связь со мной</h3>
        <p class="wow fadeIn animated" data-wow-delay=".2s">Физически я нахожусь в городе Днепропетровск, Украина, но фактически могу
            работать с любой точкой планеты.
            Я считаю, что могу помочь Вашей компании, фирме или клубу по интересам, разработать новый продукт или
            улучшить уже существующий.
            Для связи со мной, воспользуйтесь контактной формой или выберите для себя любой другой удобный способ.</p>
        <hr>
        <h3 class="wow fadeIn animated" data-wow-delay=".3s">Адрес</h3>
        <address class="md-margin-bottom-40">
            <ul class="list-unstyled">
                <li class="wow fadeIn animated" data-wow-delay=".4s"><i class="fa fa-home color-green"></i> Днепропетровск, UA</li>
                <li class="wow fadeIn animated" data-wow-delay=".5s"><i class="fa fa-phone color-green"></i> Телефон: <a class="color-green"
                        href="tel:+380662718208">+38 (066) 271-82-08</a>
                </li>
                <li class="wow fadeIn animated" data-wow-delay=".6s"><i class="fa fa-skype color-green"></i> Skype: <a class="color-green" href="callto:fo0lman">fo0lman</a>
                </li>
                <li class="wow fadeIn animated" data-wow-delay=".7s"><i class="fa fa-envelope color-green"></i> Email: <a class="color-green"
                        href="mailto:foolman.sy@gmail.com" class="">foolman.sy@gmail.com</a></li>
            </ul>
        </address>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr>
        <div class="post-comments-add-form wow fadeIn animated">
            <h3 class="wow fadeInUp animated">Отправить сообщение</h3>
            <form data-ng-submit="contacts.submitMessage()">
                <label  class="wow fadeInUp animated" for="inputeName">Имя</label>

                <div class="row margin-bottom-20 wow fadeInUp animated">
                    <div class="col-md-6">
                        <input type="text" id="inputeName" data-ng-model="formData.name" class="form-control">
                    </div>
                </div>
                <label  class="wow fadeInUp animated" for="inputeEmail">Email <span class="color-red">*</span></label>

                <div class="row margin-bottom-20 wow fadeInUp animated">
                    <div class="col-md-6">
                        <input type="text" id="inputeEmail" data-ng-model="formData.email" class="form-control">
                    </div>
                </div>
                <label class="wow fadeInUp animated" for="inputeMessage">Сообщение</label>
                <div class="row margin-bottom-20 wow fadeInUp animated">
                    <div class="col-md-11 col-md-offset-0">
                        <textarea class="form-control" data-ng-model="formData.message" id="inputeMessage"
                                  rows="8"></textarea>
                    </div>
                </div>
                <p class="wow fadeInUp animated">
                    <button class="btn-u" type="submit">Отправить</button>
                </p>
            </form>

        </div>
    </div>
</div>
