<h1>Backend Page</h1>
<hr/>
<p>Posts</p>
<a class="btn-u btn-u-small" href="/posts/add" data-ng-if="backend.authStatus"><i class="fa fa-plus"></i> Add Post</a>
<hr/>
<p>Auth</p>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.authGoogle()">Google</a>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.authFacebook()">Facebook</a>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.authTwitter()">Twitter</a>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.authGithub()">Github</a>
<hr/>
<p>User (console)</p>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.userStatus()">Status</a>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.userData()" data-ng-if="backend.authStatus">Data</a>
<hr/>
<p>Logout</p>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.logout()">LogOUT</a>