<h1>Админ панель</h1>
<hr/>
<p>Посты</p>
<a class="btn-u btn-u-small" href="/posts/add" data-ng-if="backend.authStatus"><i class="fa fa-plus"></i> Добавить</a>
<hr/>
<p>Пректы</p>
<a class="btn-u btn-u-small" href="#" data-ng-if="backend.authStatus" data-ng-click="backend.addProject()"><i class="fa fa-plus"></i> Добавить</a>
<hr/>
<p>Авторизация</p>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.authGoogle()">Google</a>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.authFacebook()">Facebook</a>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.authTwitter()">Twitter</a>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.authGithub()">Github</a>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.logout()">LogOUT</a>
<hr/>
<p>Юзверь (инфо в консоли)</p>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.userStatus()">Status</a>
<a class="btn-u btn-u-small" href="#" data-ng-click="backend.userData()" data-ng-if="backend.authStatus">Data</a>