<div class="blog margin-bottom-40">
    <div class="blog-title">
        <div class="title-block">
            <h2>{{post.data.title}}</h2>
        </div>
        <div class="action-block" data-ng-if="post.authStatus">
            <a href="/posts/edit/{{post.data.$id}}"><i class="fa fa-pencil"></i></a>
        </div>
    </div>
    <div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> {{post.data.date | date: 'dd/MM/yyyy'}}</li>
            <li><i class="fa fa-pencil"></i> {{post.data.author}}</li>
            <li><i class="fa fa-comments"></i> <a href="#post-comments">{{post.getComentsLenght()}} Comments</a></li>
            <li><i class="fa fa-tags"></i> {{post.data.keywords}}</li>
        </ul>
    </div>
    <div class="blog-img">
        <img class="img-responsive" data-ng-src="{{post.data.imageUrl}}" alt="{{post.data.title}}">
    </div>
    <p class="text-justify">{{post.data.description}}</p>
</div>
<a href="/">Назад</a>
<hr>

<div class="post-comments-container" id="post-comments">
    <h3>Comments</h3>
    <div class="media" data-ng-repeat="comment in post.comments | filter: { postId: post.data.$id }">
        <a class="pull-left" href="#">
            <img class="media-object avatar" data-ng-src="assets/img/testimonials/default-userpic.png" alt=""/>
        </a>

        <div class="media-body">
            <h4 class="media-heading">{{comment.username}} | <span>{{comment.date | date: 'dd/MM/yyyy'}}</span></h4> <!-- / <a href="#">Reply</a>-->

            <p>{{comment.text}}</p>
            <hr>
        </div>
    </div>
</div>

<div class="post-comments-add-form">
    <h3>Leave a Comment</h3>

    <form data-ng-submit="post.submitComment()">
        <label for="inputeName">Name</label>

        <div class="row margin-bottom-20">
            <div class="col-md-7 col-md-offset-0">
                <input type="text" id="inputeName" data-ng-model="commentData.username" class="form-control">
            </div>
        </div>

        <label for="inputeEmail">Email <span class="color-red">*</span></label>

        <div class="row margin-bottom-20">
            <div class="col-md-7 col-md-offset-0">
                <input type="text" id="inputeEmail" data-ng-model="commentData.email" class="form-control">
            </div>
        </div>

        <label for="inputeMessage">Message</label>

        <div class="row margin-bottom-20">
            <div class="col-md-11 col-md-offset-0">
                <textarea class="form-control"  data-ng-model="commentData.text" id="inputeMessage" rows="8"></textarea>
            </div>
        </div>
        <p>
            <button class="btn-u" type="submit">Send Message</button>
        </p>
    </form>

</div>


