<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 md-margin-bottom-40">
                    <a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt="footer-fb-logo"></a>
                    <p>"Фронт блог" - это блоговая система, разработаная с помощью фреймворка AngularJS в связке с модулем пакетирования Webpack и синтаксисом ES2015.</p>
                </div>

                <div class="col-md-3 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline"><h2>Последние проекты</h2></div>
                        <ul class="list-unstyled latest-list">
                            <li data-ng-repeat="project in footer.lastProjects | orderBy :'-date'">
                                <a href="/projects">{{project.title | limitTo: 35}}</a>
                                <small>{{project.tehnologies | limitTo: 35}}</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2>Портфолио</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="frontblog.about">Обо мне</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/projects">Проекты</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="/contacts">Контакты</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <div class="headline"><h2>Связь со мной</h2></div>
                    <address class="md-margin-bottom-40">
                        <i class="fa fa-home"></i> Днепропетровск, UA <br/>
                        <i class="fa fa-phone"></i> Телефон: <a href="tel:+380662718208">+38 (066) 271-82-08</a> <br/>
                        <i class="fa fa-skype"></i> Skype: <a href="callto:fo0lman">fo0lman</a> <br/>
                        <i class="fa fa-envelope"></i> Email: <a href="mailto:foolman.sy@gmail.com" class="">foolman.sy@gmail.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>FrontBlog &copy; 2015  <a href="/copyright">Все права защищены.</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-socials list-inline">
                        <li>
                            <a href="https://www.facebook.com/fo0lman" target="_blank" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"
                               data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="callto:fo0lman" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"
                               data-original-title="Skype">
                                <i class="fa fa-skype"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/u/0/106685279287293790326/posts" class="tooltips" target="_blank" data-toggle="tooltip" data-placement="top" title="Google"
                               data-original-title="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://ua.linkedin.com/pub/сергей-ярчук/a5/8b/bb0" class="tooltips" target="_blank" data-toggle="tooltip" data-placement="top" title="Linkedin"
                               data-original-title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/fo0lman" class="tooltips" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"
                               data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://vk.com/foolman" class="tooltips" target="_blank" data-toggle="tooltip" data-placement="top" title="VKontakte"
                               data-original-title="VKontakte">
                                <i class="fa fa-vk"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>