<div class="header">
    <div class="container">
        <a class="logo" href="/">
            <img src="assets/img/logo1-default.png" alt="Logo">
        </a>
        <div class="topbar">
            <ul class="loginbar pull-right">
                <li class="hoverSelector"><a href="/">Блог</a></li>
                <li class="topbar-devider"></li>
                <li class="hoverSelector"><a href="/about">Обо мне</a></li>
                <li class="topbar-devider"></li>
                <li class="hoverSelector"><a href="/projects">Проекты</a></li>
                <li class="topbar-devider"></li>
                <li class="hoverSelector"><a href="/contacts">Контакты</a></li>
                <li class="topbar-devider" data-ng-if="header.database.getAuthStatus()"></li>
                <li class="hoverSelector" data-ng-if="header.database.getAuthStatus()"><a href="/backend"><i class="fa fa-key"></i></a></li>
            </ul>
        </div>
    </div>
</div>