<div class="header">
    <div class="container">
        <a class="logo" href="/">
            <img src="assets/img/logo1-default.png" alt="Logo">
        </a>

        <div class="topbar">
            <ul class="loginbar pull-right">
                <li class="hoverSelector"><i class="fa fa-home"></i> <a href="/">Home</a></li>
                <li class="topbar-devider"></li>
                <li class="hoverSelector"><i class="fa fa-user"></i> <a href="/backend">Backend</a></li>
            </ul>
        </div>
    </div>
</div>