<div class="headline headline-md"><h2>Поиск</h2></div>
<form class="form-horizontal" data-ng-submit="sidebar.submitSearch()">
    <div class="input-group margin-bottom-40">
        <input type="text" id="searchInput" data-ng-model="searchQuery" class="form-control" placeholder="Поиск">
        <span class="input-group-btn">
            <button class="btn-u" id="searchBtn" type="submit"><i class="fa fa-search"></i></button>
        </span>
    </div>
</form>
<div class="last-posts margin-bottom-40">
    <div class="headline headline-md"><h2>Последние посты</h2></div>
    <dl class="dl-horizontal" data-ng-repeat="lastpost in sidebar.lastPosts | orderBy :'-date'">
        <dt><a href="/posts/view/{{lastpost.$id}}"><img data-ng-src="{{lastpost.imageUrl}}"
                                                        alt="{{lastpost.title}}"></a></dt>
        <dd>
            <p><a href="/posts/view/{{lastpost.$id}}">{{lastpost.title}}</a></p>
        </dd>
    </dl>
</div>
<div class="headline headline-md"><h2>Фото-стрим</h2></div>
<ul class="list-unstyled blog-photos margin-bottom-30">
    <li data-ng-repeat="photo in sidebar.photoStream | orderBy :'-date'">
        <a href="/posts/view/{{photo.$id}}"><img class="hover-effect img-bordered" data-ng-src="{{photo.imageUrl}}" alt="{{photo.title}}"></a>
    </li>
</ul>
<div class="headline headline-md"><h2>Теги</h2></div>
<ul class="list-unstyled blog-tags margin-bottom-30">
    <li data-ng-repeat="tag in sidebar.tags" data-ng-click="sidebar.tagSearch()"><a href="/tags/{{tag}}"><i class="fa fa-tags"></i> {{tag}}</a></li>
</ul>